<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="WeltPixel_OwlCarouselSlider" setup_version="1.1.6">
        <sequence>
            <module name="WeltPixel_Backend"/>
            <module name="WeltPixel_MobileDetect"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogWidget"/>
        </sequence>
    </module>
</config>
