<div class="mgz-content-helper">
	<i class="mgz-icon mgz-icon-1-1" ng-click="addRowElement('11')" title="Add one column"></i>
	<i class="mgz-icon mgz-icon-1-2_1-2" ng-click="addRowElement('12_12')" title="Add two columns"></i>
	<i class="mgz-icon mgz-icon-1-3_1-3_1-3" ng-click="addRowElement('13_13_13')" title="Add three columns"></i>
	<i class="mgz-icon mgz-icon-1-4_1-4_1-4_1-4" ng-click="addRowElement('14_14_14_14')" title="Add four columns"></i>
	<i class="mgz-icon mgz-icon-l_15_15_15_15_15" ng-click="addRowElement('15_15_15_15_15')" title="Add five columns"></i>
	<i class="mgz-icon mgz-icon-1-6_1-6_1-6_1-6_1-6_1-6" ng-click="addRowElement('16_16_16_16_16_16')" title="Add six columns"></i>
	<i class="fas mgz-fa-font" ng-click="$root.$broadcast('addElement', {type: 'text'})" title="Add Text block"></i>
	<i class="mgz-icon mgz-icon-add" ng-click="$root.$broadcast('addElement')" title="Add Element"></i>
</div>