<nav data-bind="
        css: {
            '-opened': isOpen,
            '-has-icons': $data.isChildHasIcons
        },
        style: {
            background: $parent.color_settings.menu_background
        },
        attr: { class: 'ammenu-nav-sections -mobile' + ' -' + $parent.mobile_class }">

    <!-- ko template: { name: templates.tabsSwitcher } --><!-- /ko -->

        <!-- ko template: { name: templates.typeSwitcher } --><!-- /ko -->

        <!-- ko scope: 'index = settings_wrapper' -->
            <!-- ko template: { name: $data.templates.login } --><!-- /ko -->
        <!-- /ko -->

    <!-- ko if: $data.activeTab() === 2 -->
        <!-- ko scope: 'index = settings_wrapper' -->
            <!-- ko template: { name: $data.templates.currency } --><!-- /ko -->
            <!-- ko template: { name: $data.templates.language } --><!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</nav>
