<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_CheckoutProCustomization">
        <sequence>
            <module name="Amasty_Base"/>
            <module name="Amasty_Checkout"/>
        </sequence>
    </module>
</config>
