<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_ga4>
            <general>
                <enable>0</enable>
                <gtm_code></gtm_code>
                <gtm_nonjs_code></gtm_nonjs_code>
                <id_selection>id</id_selection>
                <enable_brand>0</enable_brand>
                <enable_variant>0</enable_variant>
                <brand_attribute></brand_attribute>
                <order_total_calculation>grandtotal</order_total_calculation>
                <impression_chunk_size>15</impression_chunk_size>
                <success_page_paths></success_page_paths>
                <product_click_tracking>0</product_click_tracking>
                <promotion_tracking>0</promotion_tracking>
                <persistentlayer_expiry>30</persistentlayer_expiry>
                <exclude_tax_from_transaction>0</exclude_tax_from_transaction>
                <parent_vs_child>parent</parent_vs_child>
                <secure_cookies>0</secure_cookies>
                <exclude_shipping_from_transaction>0</exclude_shipping_from_transaction>
                <exclude_shipping_from_transaction_including_tax>0</exclude_shipping_from_transaction_including_tax>
                <exclude_free_purchase>0</exclude_free_purchase>
                <custom_dimension_customerid>1</custom_dimension_customerid>
                <custom_dimension_customergroup>1</custom_dimension_customergroup>
                <custom_dimension_pagename>1</custom_dimension_pagename>
                <custom_dimension_pagetype>1</custom_dimension_pagetype>
                <track_stockstatus>1</track_stockstatus>
                <track_reviewscount>1</track_reviewscount>
                <track_reviewsscore>1</track_reviewsscore>
                <track_saleproduct>1</track_saleproduct>
                <track_custom_attribute_1>0</track_custom_attribute_1>
                <track_custom_attribute_2>0</track_custom_attribute_2>
                <track_custom_attribute_3>0</track_custom_attribute_3>
                <track_custom_attribute_4>0</track_custom_attribute_4>
                <track_custom_attribute_5>0</track_custom_attribute_5>
            </general>
            <adwords_conversion_tracking>
                <enable>0</enable>
                <google_conversion_id>0000000</google_conversion_id>
                <google_conversion_label>00000</google_conversion_label>
                <google_conversion_currency_code>usd</google_conversion_currency_code>
                <exclude_free_purchase>0</exclude_free_purchase>
            </adwords_conversion_tracking>
            <adwords_remarketing>
                <enable>0</enable>
                <conversion_code></conversion_code>
                <conversion_label></conversion_label>
                <exclude_free_purchase>0</exclude_free_purchase>
            </adwords_remarketing>
        </weltpixel_ga4>
    </default>
</config>
