<?xml version="1.0"?>
<!--
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * https://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_Booking
  * @author      CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright   Copyright CEDCOMMERCE (https://cedcommerce.com/)
  * @license      https://cedcommerce.com/license-agreement.txt
  */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <booking>
                <feed_url>cedcommerce.com/licensing/log/post</feed_url>
                <popup_url>widgets.magentocommerce.com/notificationPopup</popup_url>
                <severity_icons_url>widgets.magentocommerce.com/%s/%s.gif</severity_icons_url>
                <frequency>72</frequency>
                <last_update>0</last_update>
            </booking>
            <license>
                <use_https>0</use_https>
                <license_url>booking/main/license</license_url>
                <activate_url>cedcommerce.com/licensing/validate/</activate_url>
                <validate_url>cedcommerce.com/licensing/validate/auto</validate_url>
            </license>
        </system>
        <cedcore>
            <feeds_group>
                <feeds>INFO,PROMO,UPDATE_RELEASE,NEW_RELEASE,INSTALLED_UPDATE</feeds>
            </feeds_group>
        </cedcore>
        <booking>
            <booking_config>
                <enable>1</enable>
            </booking_config>
        </booking>
    </default>
</config>