.navigation {
  font-weight: normal !important;
}
.navigation > .ninjamenus.ninjamenus-desktop {
  margin: 0 20px;
}
.nav-item {
  position: relative;
  text-align: left;
}
.nav-item.active > a {
  color: #f55856;
}
.nav-item > a {
  -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  color: #333;
  font-weight: 400;
  line-height: 35px;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0 15px;
}
.nav-item > a:hover {
  color: #f55856;
}
.nav-item > a:hover .title-wrapper .label {
  background-color: #555;
}
.nav-item > a:hover .title-wrapper .label:before {
  border-top-color: #555;
}
.nav-item > a > .opener {
  width: 35px;
  height: 35px;
}
.nav-item > a .label {
  -webkit-transition: color 0.45s ease-in-out, background-color 0.45s ease-in-out;
  -moz-transition: color 0.45s ease-in-out, background-color 0.45s ease-in-out;
  -ms-transition: color 0.45s ease-in-out, background-color 0.45s ease-in-out;
  -o-transition: color 0.45s ease-in-out, background-color 0.45s ease-in-out;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  background-color: #ed143d;
  color: #fff;
}
.nav-item > a .item-icon {
  line-height: inherit;
}
.nav-item > a .item-icon + span,
.nav-item > a span + .item-icon {
  margin-left: 2px;
}
.nav-item > a span.title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.nav-item > a > span {
  display: inline-block;
}
.nav-item .caret {
  line-height: inherit;
  border: 0;
  height: auto;
}
.nav-item .item-submenu {
  position: absolute;
  display: none;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  z-index: 11;
  width: 100%;
  height: auto;
}
.nav-item.ninjamenus-hover > .item-submenu {
  display: block;
}
.magezon-builder > .nav-item > a {
  line-height: 50px;
  font-weight: 600;
}
.magezon-builder > .nav-item > .opener {
  height: 50px;
  width: 50px;
}
.subtitle {
  display: block !important;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #999;
  white-space: normal;
  margin-top: -10px;
}
.label-top_left > a .label {
  position: absolute;
  top: -10px;
  left: 10px;
}
.label-top_left > a .label:before {
  -webkit-transition: border-color 450ms ease-in-out;
  -moz-transition: border-color 450ms ease-in-out;
  -ms-transition: border-color 450ms ease-in-out;
  -o-transition: border-color 450ms ease-in-out;
  position: absolute;
  left: 6px;
  top: 22px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top-color: #ed143d;
}
.label-top_right > a .label {
  position: absolute;
  top: -10px;
  right: 10px;
}
.label-top_right > a .label:before {
  -webkit-transition: border-color 450ms ease-in-out;
  -moz-transition: border-color 450ms ease-in-out;
  -ms-transition: border-color 450ms ease-in-out;
  -o-transition: border-color 450ms ease-in-out;
  position: absolute;
  right: 6px;
  top: 22px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-top-color: #ed143d;
}
.label-left > a, .label-right > a  {
  justify-content: flex-start;
  display: flex;
  align-items: flex-end;
}
.ninjamenus-hamburger-trigger {
  line-height: 50px;
  background: #f2f2f2;
  display: none;
}
.ninjamenus-hamburger-trigger .trigger-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin-right: 5px;
}
.ninjamenus-hamburger-trigger .trigger-icon .menu-trigger-inner {
  -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.ninjamenus-hamburger-trigger .trigger-icon .line {
  display: block;
  background-color: #333333;
  height: 3px;
  margin-bottom: 2px;
}
.ninjamenus-hamburger-trigger .menu-trigger-inner {
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}
.ninjamenus-hamburger-trigger .menu-trigger-inner:hover {
  background-color: #f55856;
  color: #ffffff;
}
.ninjamenus-hamburger-trigger .menu-trigger-inner:hover .line {
  background: #FFF;
}
.ninjamenus {
  position: relative;
}
.ninjamenus:before,
.ninjamenus:after {
  content: " ";
  display: table;
  clear: both;
}
.ninjamenus .ninjamenus-toggle-active > .opener:before {
  content: '\e60d';
}
.ninjamenus .level0 > a > span.title {
  font-weight: inherit;
}
.ninjamenus .level0 > a > span.title-wrapper .title {
  font-weight: inherit;
}
.ninjamenus .opener {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  display: none;
}
.ninjamenus .opener:before {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Magezon-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e61c';
}
.ninjamenus .opener:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.ninjamenus .drilldown-opener {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  display: none;
}
.ninjamenus .drilldown-opener:before {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Magezon-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e61c';
}
.ninjamenus .item-submenu {
  padding: 10px;
}
.ninjamenus .drilldown-opener:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.ninjamenus .nav-item > .drilldown-opener:before {
  content: '\e60a';
}
.ninjamenus .ninjamenus-drilldown-back > .drilldown-opener:before {
  content: '\e617';
}
.ninjamenus .links {
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #EEE;
}
.ninjamenus .links li {
  position: relative;
  margin: 0;
  display: inline-block;
}
.ninjamenus .links li > a {
  line-height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.ninjamenus .links li > a:hover {
  background: #f55856;
  text-decoration: none;
  color: #fff;
}
.ninjamenus a {
  color: #333;
  font-weight: 400;
}
.ninjamenus .block.tabspro-block {
  margin: 0;
}
.ninjamenus .form.contact {
  width: 100% !important;
}
.ninjamenus.ninjamenus-vertical > .magezon-builder > .nav-item > a .caret {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  float: right;
  line-height: inherit;
}
.ninjamenus.ninjamenus-vertical > .magezon-builder > .nav-item > a .label {
  right: auto;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-horizontal > .magezon-builder > .nav-item {
  float: left;
  margin: 0;
}
.ninjamenus.ninjamenus-desktop .ninjamenus-right {
  float: right !important;
}
.ninjamenus.ninjamenus-desktop .item-submenu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  width: 200px;
}
.ninjamenus.ninjamenus-desktop .item-submenu:before,
.ninjamenus.ninjamenus-desktop .item-submenu:after {
  content: " ";
  display: table;
  clear: both;
}
.ninjamenus.ninjamenus-desktop .mega > .item-submenu {
  background: #FFF;
}
.ninjamenus.ninjamenus-desktop .ninjamenus-hide-desktop {
  display: none;
}
.ninjamenus.ninjamenus-desktop .left_edge_menu_bar,
.ninjamenus.ninjamenus-desktop .right_edge_menu_bar,
.ninjamenus.ninjamenus-desktop .left_vertical_full_height,
.ninjamenus.ninjamenus-desktop .right_vertical_full_height {
  position: static;
}
.ninjamenus.ninjamenus-desktop .left_edge_menu_bar > .item-submenu {
  left: 0;
}
.ninjamenus.ninjamenus-desktop .right_edge_menu_bar > .item-submenu {
  right: 0;
}
.ninjamenus.ninjamenus-desktop .left_vertical_full_height > .item-submenu {
  right: 100%;
  top: 0;
}
.ninjamenus.ninjamenus-desktop .right_vertical_full_height > .item-submenu {
  left: 100%;
  top: 0;
}
.ninjamenus.ninjamenus-desktop .left_edge_parent_item > .item-submenu {
  left: 0;
}
.ninjamenus.ninjamenus-desktop .right_edge_parent_item > .item-submenu {
  right: 0;
}
.ninjamenus.ninjamenus-desktop .level0 .left_edge_parent_item > .item-submenu {
  left: 80%;
  top: 0;
}
.ninjamenus.ninjamenus-desktop .level0 .right_edge_parent_item > .item-submenu {
  right: 80%;
  top: 0;
}
.ninjamenus.ninjamenus-desktop .stack > a .caret {
  display: none;
}
.ninjamenus.ninjamenus-desktop .stack > .item-submenu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: static;
  display: block;
  width: 100%;
  padding: 0;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown {
  width: 100%;
  max-width: 100%;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion.label-top_right > a .label,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown.label-top_right > a .label {
  right: auto;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .level0,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .level0 {
  border-bottom: 1px solid #e6e6e6;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .level0 > a:hover,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .level0 > a:hover {
  background: transparent;
  color: #333;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .nav-item,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .nav-item {
  position: relative !important;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .item-submenu,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .item-submenu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: static;
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .caret,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .caret {
  display: none;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .mega > .opener,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .mega > .opener {
  display: block;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .nav-item > a,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .nav-item > a {
  line-height: 50px;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-accordion .nav-item > .opener,
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .nav-item > .opener {
  height: 50px;
  width: 50px;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown {
  overflow: hidden;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .drilldown-opener {
  display: block;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-drilldown .stack > .drilldown-opener {
  display: none;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-vertical .nav-item.level0:hover > a,
.ninjamenus.ninjamenus-desktop.ninjamenus-horizontal .nav-item.level0:hover > a {
  background-color: #f55856;
  color: #FFF;
}
.ninjamenus.ninjamenus-desktop.ninjamenus-vertical .nav-item.level0.active > a,
.ninjamenus.ninjamenus-desktop.ninjamenus-horizontal .nav-item.level0.active > a {
  background-color: #333;
  color: #FFF;
}
.ninjamenus.ninjamenus-mobile {
  overflow-x: hidden;
}
.ninjamenus.ninjamenus-mobile.ninjamenus-hamburger-menu,
.ninjamenus.ninjamenus-mobile .ninjamenus-hide-mobile {
  display: none;
}
.ninjamenus.ninjamenus-mobile .opener {
  display: block;
}
.ninjamenus.ninjamenus-mobile .caret {
  display: none;
}
.ninjamenus.ninjamenus-mobile .item-submenu {
  max-width: 100% !important;
  position: relative;
}
.ninjamenus.ninjamenus-mobile .nav-item > a {
  line-height: 50px;
}
.ninjamenus.ninjamenus-mobile .nav-item > .opener {
  height: 50px;
  width: 50px;
}
.ninjamenus.ninjamenus-mobile .level0.label-top_right > a .label {
  right: auto;
}
.ninjamenus.ninjamenus-mobile .level0 > a .title {
  margin: 0 !important;
}
.ninjamenus-hamburger-active .menu-trigger-inner {
  background-color: #f55856;
  color: #ffffff;
}
.ninjamenus-hamburger-active .menu-trigger-inner .line {
  background: #FFF;
}
.ninjamenus-hamburger-active .ninjamenus-hamburger-menu {
  display: block !important;
}
.ninjamenus-widget .ninjamenus-vertical,
.ninjamenus-widget .ninjamenus-accordion,
.ninjamenus-widget .ninjamenus-drilldown {
  border: 1px solid #6e716e;
}
.cms-content .block.ninjamenus-widget > .block-title,
.block.ninjamenus-widget > .block-title {
  text-transform: uppercase;
  padding: 10px;
  background: #6e716e;
  color: #fff;
  margin: 0;
  border: 1px solid #6e716e;
}
.cms-content .block.ninjamenus-widget > .block-title > strong,
.block.ninjamenus-widget > .block-title > strong {
  display: block;
}
.cms-content .block.ninjamenus-widget > .ninjamenus,
.block.ninjamenus-widget > .ninjamenus {
  background: #f8f8f8;
}
.cms-content .block.ninjamenus-widget > .ninjamenus.ninjamenus-drilldown,
.block.ninjamenus-widget > .ninjamenus.ninjamenus-drilldown {
  border: 1px solid #6e716e;
}
.scroll-to-fixed-fixed .magezon-builder > .nav-item.label-top_left > a .label,
.scroll-to-fixed-fixed .magezon-builder > .nav-item.label-top_right > a .label {
  display: none;
}
.scroll-to-fixed-fixed .ninjamenus-hide-sticky {
  display: none !important;
}
.ninjamenus-lazy-blur {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transition: 0.3s filter linear;
  -moz-transition: 0.3s filter linear;
  -ms-transition: 0.3s filter linear;
  -o-transition: 0.3s filter linear;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.ninjamenus-lazy-blur .ninjamenus-lazy-loaded {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  image-rendering: initial;
}
.ninjamenus-drilldown-back {
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
  border-bottom: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  display: none;
}
.ninjamenus-drilldown-back > .drilldown-opener {
  height: 50px;
  width: 50px;
  left: 0;
  display: block;
}
.drilldown-root > div > .ninjamenus-drilldown-back {
  display: block;
}
.ninjamenus-tablet {
  position: static !important;
}
.ninjamenus-tablet .item-submenu {
  left: 0 !important;
  max-width: 100%;
}
.ninjamenus-desktop.ninjamenus-top .level0 {
  margin: 0;
  display: inline-block;
}
.item-autolist .nav-item.stack > a{
  font-weight: 900;
}
.ninjamenus-desktop .item-autolist > .item-submenu > .nav-item{
  float: left;
}
.ninjamenus-desktop .item-autolist-col2 > .item-submenu > .nav-item{
  width: 50%;
}
.ninjamenus-desktop .item-autolist-col3 > .item-submenu > .nav-item{
  width: 33.33333333%;
}
.ninjamenus-desktop .item-autolist-col4 > .item-submenu > .nav-item{
  width: 25%;
}
.ninjamenus-desktop .item-autolist-col5 > .item-submenu > .nav-item{
  width: 20%;
}
.ninjamenus-desktop .item-autolist-col6 > .item-submenu > .nav-item{
  width: 16.66666667%;
}
.ninjamenus-desktop .item-autolist-col2 > .item-submenu > .nav-item:nth-child(2n+1),
.ninjamenus-desktop .item-autolist-col3 > .item-submenu > .nav-item:nth-child(3n+1),
.ninjamenus-desktop .item-autolist-col4 > .item-submenu > .nav-item:nth-child(4n+1),
.ninjamenus-desktop .item-autolist-col4 > .item-submenu > .nav-item:nth-child(5n+1),
.ninjamenus-desktop .item-autolist-col3 > .item-submenu > .nav-item:nth-child(6n+1) {
  clear: left;
}
.nav-item-static {
  position: static !important;
}

.nav-item.nav-item-static > .item-submenu{
  width: 100vw !important;
}

.ninjamenus.ninjamenus-mobile .nav-item-static{
  position: relative !important;
}
.ninjamenus.ninjamenus-mobile  .nav-item.nav-item-static > .item-submenu{
  width: 100% !important;
}
.ninjamenus-top-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    background: #0e0e0eb0;
    height: 100%;
    z-index: 10;
    display: none;
}