<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weltpixel_googletagmanager" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Analytics Enhanced Ecommerce Pro</label>
            <tab>weltpixel</tab>
            <resource>WeltPixel_GoogleTagManager::GoogleTagManagerSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable GoogleTagManager</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gtm_code" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Tag Manager Javascript Code</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="gtm_nonjs_code" translate="label" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Tag Manager Non-Js Code</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="impression_chunk_size" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Impression Chunks Size</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required number</validate>
                    <comment>The impressions will be sent in separate chunks limited to this number.</comment>
                </field>
                <field id="id_selection" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Identifier</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\Id</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_brand" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Brand</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="brand_attribute" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute</label>
                    <comment>Only attributes with Used in Product Listing set to Yes are availble here.</comment>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\AttributeCollection</source_model>
                    <depends>
                        <field id="enable_brand">1</field>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_variant" translate="label" type="select" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Variant</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="order_total_calculation" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Success Page Total Calculation</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\OrderTotalCalculation</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="exclude_tax_from_transaction" translate="label comment" type="select" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Tax From Transaction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="order_total_calculation">grandtotal</field>
                    </depends>
                    <comment>Tax will be deduced from Grand Total</comment>
                </field>
                <field id="exclude_shipping_from_transaction" translate="label comment" type="select" sortOrder="67" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Shipping From Transaction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="order_total_calculation">grandtotal</field>
                    </depends>
                    <comment>Shipping charges will deduced from Grand Total</comment>
                </field>
                <field id="exclude_shipping_from_transaction_including_tax" translate="label comment" type="select" sortOrder="68" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Shipping Including Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="order_total_calculation">grandtotal</field>
                        <field id="exclude_shipping_from_transaction">1</field>
                    </depends>
                </field>
                <field id="exclude_free_purchase" translate="label comment" type="select" sortOrder="68" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Orders with 0 value</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Orders with value 0.00 can be excluded from purchase transactions if you set this option to Yes</comment>
                </field>
                <field id="success_page_paths" translate="label comment" type="textarea" sortOrder="68" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Page Paths</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[If you are using custom checkout, and the success page path is different from the default magento path: 'checkout/onepage/success', you can list it here to make sure the Transaction data is sent to GTM.
                        <br/> If you have different success pages you can separate them with ",". <br/> Ex: checkout/onestepcheckout/success, checkout/mycustomcheckout/success
                        ]]>
                    </comment>
                </field>
                <field id="product_click_tracking" translate="label" type="select" sortOrder="69" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Measure Product Clicks</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This option allows ‘Product Click’ tracking on Category Page , Search results page and Related/Cross-sell/Up-sell product grids. <br/>
If Product Click Tracking is enabled this option rewrites Magento_Catalog::product/list.phtml and Magento_Catalog::product/list/list.phtml. <br/> If you are using a custom theme/extension already re-writing this templates check here how you can make the necessary compatibility adjustments: <br/> <a target="_blank" href="https://support.weltpixel.com/hc/en-us/articles/115006195028-How-to-solve-compatibility-issues-Google-Tag-Manager-Enhanced-Ecommerce">How to solve GTM compatibility issues</a>]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="promotion_tracking" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promotion Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<b>Example of usage:</b> &#60;a href="#" data-track-promo-id="PROMOID" data-track-promo-name="PROMONAME" data-track-promo-creative="PROMOCREATIVE" data-track-promo-position="PROMOPOSITION" &#62;Content&#60;/a&#62;]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="persistentlayer_expiry" translate="label comment" type="text" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Persistent datalayer expiry time</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required number</validate>
                    <comment>The specified value represents minutes.</comment>
                </field>
                <field id="parent_vs_child" translate="label comment" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Child vs Parent</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\ParentVsChild</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Send Parent Id or Child id cart, checkout and thank you page</comment>
                </field>
                <field id="secure_cookies" translate="label comment" type="select" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Secure Cookies</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Send the cookies as secure ones. Should only be used if your whole site is on HTTPS.</comment>
                </field>
                <field id="separator_user_dimensions" translate="button_label" type="text" sortOrder="109" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\SeparatorElement</frontend_model>
                    <button_label>User Scoped Custom Dimensions</button_label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_customerid" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Customer ID</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_customerid_indexnumber" translate="label" type="select" sortOrder="112" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Customer ID Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="custom_dimension_customerid">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_customergroup" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Customer Group</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_customergroup_indexnumber" translate="label" type="select" sortOrder="122" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Customer Group Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="custom_dimension_customergroup">1</field>
                    </depends>
                </field>
                <field id="separator_hitscoped_dimensions" translate="button_label" type="text" sortOrder="169" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\SeparatorElement</frontend_model>
                    <button_label>Hit Scoped Custom Dimensions</button_label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_pagename" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Page Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_pagetype" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Page Type</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="custom_dimension_pagetype_indexnumber" translate="label" type="select" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Dimension - Page Type Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="custom_dimension_pagetype">1</field>
                    </depends>
                </field>
                <field id="separator_product_dimensions" translate="button_label" type="text" sortOrder="198" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\SeparatorElement</frontend_model>
                    <button_label>Product Scoped Custom Dimensions</button_label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="separator_stock_status" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_stockstatus" translate="label comment" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Stock Status (instock/out of stock)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_stockstatus_indexnumber" translate="label comment" type="select" sortOrder="204" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Stock Status Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_stockstatus">1</field>
                    </depends>
                </field>
                <field id="separator_reviews_count" translate="label" type="text" sortOrder="209" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_reviewscount" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Reviews Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_reviewscount_indexnumber" translate="label comment" type="select" sortOrder="214" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Reviews Count Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_reviewscount">1</field>
                    </depends>
                </field>
                <field id="separator_reviews_score" translate="label" type="text" sortOrder="219" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_reviewsscore" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Reviews Score</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_reviewsscore_indexnumber" translate="label comment" type="select" sortOrder="224" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Reviews Score Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_reviewsscore">1</field>
                    </depends>
                </field>
                <field id="separator_sale_product" translate="label" type="text" sortOrder="229" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_saleproduct" translate="label comment" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Sale Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Magento's Sale Product Attribute value is used here</comment>
                </field>
                <field id="track_saleproduct_indexnumber" translate="label comment" type="select" sortOrder="234" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Sale Product Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_saleproduct">1</field>
                    </depends>
                </field>
                <field id="separator_product_attribute_custom_dimensions" translate="button_label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\SeparatorElement</frontend_model>
                    <button_label>Custom Attribute as Custom Dimension / Metric</button_label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="separator_custom_attribute_1" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_1" translate="label" type="select" sortOrder="315" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 1</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_1_name" translate="label" type="text" sortOrder="316" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 1 Name</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_1">1</field>
                    </depends>
                    <validate>validate-alphanum-with-spaces</validate>
                </field>
                <field id="track_custom_attribute_1_code" translate="label" type="select" sortOrder="317" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 1</label>
                    <comment>Only attributes with Used in Product Listing set to Yes are availble here.</comment>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\AttributeCollection</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_1">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_1_type" translate="label comment" type="select" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 1 Type</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\TrackType</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_1">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_1_indexnumber" translate="label comment" type="select" sortOrder="325" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 1 Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_1">1</field>
                    </depends>
                </field>
                <field id="separator_custom_attribute_2" translate="label" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_2" translate="label" type="select" sortOrder="335" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 2</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_2_name" translate="label" type="text" sortOrder="337" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 2 Name</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_2">1</field>
                    </depends>
                    <validate>validate-alphanum-with-spaces</validate>
                </field>
                <field id="track_custom_attribute_2_code" translate="label" type="select" sortOrder="338" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 2</label>
                    <comment>Only attributes with Used in Product Listing set to Yes are availble here.</comment>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\AttributeCollection</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_2">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_2_type" translate="label comment" type="select" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 2 Type</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\TrackType</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_2">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_2_indexnumber" translate="label comment" type="select" sortOrder="345" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 2 Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_2">1</field>
                    </depends>
                </field>
                <field id="separator_custom_attribute_3" translate="label" type="text" sortOrder="348" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_3" translate="label" type="select" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 3</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_3_name" translate="label" type="text" sortOrder="354" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 3 Name</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_3">1</field>
                    </depends>
                    <validate>validate-alphanum-with-spaces</validate>
                </field>
                <field id="track_custom_attribute_3_code" translate="label" type="select" sortOrder="355" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 3</label>
                    <comment>Only attributes with Used in Product Listing set to Yes are availble here.</comment>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\AttributeCollection</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_3">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_3_type" translate="label comment" type="select" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 3 Type</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\TrackType</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_3">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_3_indexnumber" translate="label comment" type="select" sortOrder="365" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 3 Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_3">1</field>
                    </depends>
                </field>
                <field id="separator_custom_attribute_4" translate="label" type="text" sortOrder="368" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_4" translate="label" type="select" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 4</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_4_name" translate="label" type="text" sortOrder="374" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 4 Name</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_4">1</field>
                    </depends>
                    <validate>validate-alphanum-with-spaces</validate>
                </field>
                <field id="track_custom_attribute_4_code" translate="label" type="select" sortOrder="375" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 4</label>
                    <comment>Only attributes with Used in Product Listing set to Yes are availble here.</comment>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\AttributeCollection</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_4">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_4_type" translate="label comment" type="select" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 4 Type</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\TrackType</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_4">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_4_indexnumber" translate="label comment" type="select" sortOrder="385" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 4 Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_4">1</field>
                    </depends>
                </field>
                <field id="separator_custom_attribute_5" translate="label" type="text" sortOrder="388" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\Adminhtml\System\Config\DimensionSeparator</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_5" translate="label" type="select" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 5</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_5_name" translate="label" type="text" sortOrder="393" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 5 Name</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_5">1</field>
                    </depends>
                    <validate>validate-alphanum-with-spaces</validate>
                </field>
                <field id="track_custom_attribute_5_code" translate="label" type="select" sortOrder="395" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute 5</label>
                    <comment>Only attributes with Used in Product Listing set to Yes are availble here.</comment>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\AttributeCollection</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_5">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_5_type" translate="label comment" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 5 Type</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\TrackType</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_5">1</field>
                    </depends>
                </field>
                <field id="track_custom_attribute_5_indexnumber" translate="label comment" type="select" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Custom Attribute 5 Index Number</label>
                    <source_model>WeltPixel\GoogleTagManager\Model\Config\Source\IndexNumber</source_model>
                    <comment>This must match the index number set in Google Analytics</comment>
                    <depends>
                        <field id="enable">1</field>
                        <field id="track_custom_attribute_5">1</field>
                    </depends>
                </field>
            </group>
            <group id="api" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GTM API Configuration</label>
                <field id="account_id" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account ID</label>
                    <validate>required</validate>
                    <comment><![CDATA[<b>Ex:</b> 600354931. Check usage <a target="_blank" href="http://oauth.weltpixel.com/demo-image.png">here</a>]]></comment>
                </field>
                <field id="container_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Container ID</label>
                    <validate>required</validate>
                    <comment><![CDATA[<b>Ex:</b> 2293419. Check usage <a target="_blank" href="http://oauth.weltpixel.com/demo-image.png">here</a>]]></comment>
                </field>
                <field id="ua_tracking_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Universal Analytics Tracking ID</label>
                    <validate>required</validate>
                    <comment><![CDATA[<b>Ex:</b> UA-12345678-9 ]]></comment>
                </field>
                <field id="ip_anonymization" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>I.P Anonymization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_advertising" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Display Advertising Features</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_container" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\System\Config\Api</frontend_model>
                </field>
            </group>
            <group id="adwords_conversion_tracking" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google AdWords conversion tracking</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="google_conversion_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Conversion Id</label>
                    <validate>required</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment><![CDATA[<b>Ex:</b> 12324325 ]]></comment>
                </field>
                <field id="google_conversion_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Conversion Label</label>
                    <validate>required</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment><![CDATA[<b>Ex:</b> Label value ]]></comment>
                </field>
                <field id="google_conversion_currency_code" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Conversion Currency Code</label>
                    <validate>required</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment><![CDATA[<b>Ex:</b> usd ]]></comment>
                </field>
                <field id="exclude_free_purchase" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Orders with 0 value</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Orders with value 0.00 can be excluded from conversion tracking if you set this option to Yes</comment>
                </field>
                <field id="api_container" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\System\Config\Api\ConversionTracking</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="adwords_remarketing" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google AdWords Remarketing</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="conversion_code" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion Code</label>
                    <validate>required</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="conversion_label" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion Label</label>
                    <comment>You can leave the Conversion Label field blank if there is no google_conversion_label in the code box.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="exclude_free_purchase" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Orders with 0 value</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Orders with value 0.00 can be excluded from adwords remarketing if you set this option to Yes</comment>
                </field>
                <field id="api_container" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\System\Config\Api\Remarketing</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="json_export" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Json Export Options</label>
                <field id="public_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public ID</label>
                    <comment>Ex: GTM-12XYZ21</comment>
                </field>
                <field id="api_container" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>WeltPixel\GoogleTagManager\Block\System\Config\Json\Export</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
