<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_quick_cart>
            <general>
                <enable>1</enable>
                <open_minicart>1</open_minicart>
                <open_minicart_display_options>both</open_minicart_display_options>
            </general>
            <header>
                <header_height>50px</header_height>
                <header_background>#000000</header_background>
                <header_text_color>#FFFFFF</header_text_color>
            </header>
            <footer>
                <subtotal_background>#F6F6F6</subtotal_background>
                <subtotal_text_color>#000000</subtotal_text_color>
            </footer>
            <minicart_message>
                <enable>0</enable>
                <free_shipping_integration>0</free_shipping_integration>
                <text_color>#FF0000</text_color>
                <font_size>16px</font_size>
                <content></content>
                <free_shipping_content></free_shipping_content>
                <custom_css></custom_css>
            </minicart_message>
            <shoppingcart_message>
                <enable>0</enable>
                <free_shipping_integration>0</free_shipping_integration>
                <text_color>#FF0000</text_color>
                <font_size>30px</font_size>
                <content></content>
                <free_shipping_content></free_shipping_content>
                <custom_css></custom_css>
            </shoppingcart_message>
            <shopping_cart_content>
                <discount_display_mode_enable>1</discount_display_mode_enable>
                <discount_display_mode>inline</discount_display_mode>
                <enable_coupon_codes>0</enable_coupon_codes>
            </shopping_cart_content>
            <carousel_options>
                <display_carousel>0</display_carousel>
                <carousel_type>related</carousel_type>
                <carousel_displayfor>last_item</carousel_displayfor>
                <carousel_title>You might also like</carousel_title>
                <carousel_title_align>align_left</carousel_title_align>
                <carousel_title_fontsize>18px</carousel_title_fontsize>
                <carousel_title_color>#000000</carousel_title_color>
                <carousel_item_desktop>2</carousel_item_desktop>
                <carousel_item_mobile>1</carousel_item_mobile>
                <carousel_arrows_borderradius>40px</carousel_arrows_borderradius>
                <carousel_arrows_background></carousel_arrows_background>
                <carousel_arrows_color>#555555</carousel_arrows_color>
                <carousel_arrows_hover_background></carousel_arrows_hover_background>
                <carousel_arrows_hover_color>#000000</carousel_arrows_hover_color>
            </carousel_options>
        </weltpixel_quick_cart>
    </default>
</config>
