.fieldset-small
{
    padding-bottom:0!important;
}
.fieldset-small legend{
    display:block!important;
}
.fieldset-small legend span
{
    font-size:1.5rem!important;
}

input.pcDisabled {
    background: #fcfcfc!important;
    opacity: 0.9!important;
}
input.isValid {
    background: #e0ffe1!important;
}
input.notValid {
    background: #ffdada!important;
}

.config-nav-block.plugin-company-config-tab strong:before {
    content: "\e900";
    display: inline-block;
    margin-right: 12px;
    font-family: plugincompany;
    color: #129ad5;
    font-size: 1em;
    vertical-align: top;
    font-weight:500;
}

