<div class="mgz-element-toolbar-inner" outside-click="outsideClick()">
	<div class="mgz-element-toolbar-options">
		<a class="mgz-element-toolbar-option" ng-click="mgz.editElement(element)"><span>Edit</span></a>
	</div>
	<div class="mgz-element-toolbar-options">
		<a class="mgz-element-toolbar-option" ng-repeat="type in ::headingTypes" ng-click="changeToolbar($event, type, 'elemHeading')" ng-class="{'active': element.heading_type==type}"><span>{{ type }}</span></a>
	</div>
	<div class="mgz-element-toolbar-options">
		<a class="mgz-element-toolbar-option mgz-element-toolbar-item-{{type}}" ng-repeat="type in ::alignTypes" ng-click="changeToolbar($event, type, 'elemAlign')" mgz-tooltip="Align {{ type }}" ng-class="{'active': getDesignValue('align')==type}"><span>{{ type }}</span></a>
	</div>
	<div class="mgz-element-toolbar-options">
		<magezon-builder-color-picker config="colorPickerConfig" ng-model="element.color"></magezon-builder-color-picker>
	</div>
	<div class="mgz-element-toolbar-options">
		<input type="text" name="font_size" mgz-tooltip="Font Size" ng-model="fontSize" ng-change="changeFontSize($event)"/>
	</div>
</div>