<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="Ecommerce121_OrderCancelledEmail::sales_order_save_after"
                  instance="Ecommerce121\OrderCancelledEmail\Observer\OrderSaveAfter"/>
    </event>
</config>
