<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ecommerce121\ReviewData\Setup\Patch\Data\ImportReviews">
        <arguments>
            <argument name="logger" xsi:type="object">Ecommerce121\ReviewData\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <virtualType name="Ecommerce121\ReviewData\Model\Logger\Handler\Virtual"
                 type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/review_import_missing_product_ids.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ecommerce121\ReviewData\Model\Logger\Virtual"
                 type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">review_import_missing_product_ids</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ecommerce121\ReviewData\Model\Logger\Handler\Virtual</item>
            </argument>
        </arguments>
    </virtualType>
</config>
