<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PluginCompany_LicenseManager" setup_version="0.1.0">
        <pc_license>
            <type>free</type>
            <name>Plugin Company License Manager</name>
        </pc_license>
    </module>
</config>