<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <plugincompany_productpdf>
            <general>
                <default_fontfamily>opensans</default_fontfamily>
                <default_fontsize>14px</default_fontsize>
                <default_fontcolor>333</default_fontcolor>
            </general>
            <header>
                <show_header>1</show_header>
                <default_img>1</default_img>
                <logo_img/>
                <show_store_title>0</show_store_title>
                <store_title_fontsize>15px</store_title_fontsize>
                <default_store_title_color>333</default_store_title_color>
                <store_title_color>333</store_title_color>
                <header_fontsize>11px</header_fontsize>
                <header_fontcolor>333</header_fontcolor>
                <show_bottomline>1</show_bottomline>
                <bottomline_thickness>4px</bottomline_thickness>
                <bottomline_color>999</bottomline_color>
                <store_name_fontfamily>opensans</store_name_fontfamily>
                <fontfamily>opensans</fontfamily>
                <show_barcode>1</show_barcode>
            </header>
            <section_header>
                <section_header_fontfamily>opensans</section_header_fontfamily>
                <section_header_fontsize>20px</section_header_fontsize>
                <section_header_color>00ACEE</section_header_color>
                <use_custom_section_header_font>0</use_custom_section_header_font>
            </section_header>
            <custom_options>
                <show_custom_options>1</show_custom_options>
            </custom_options>
            <additional_information>
                <show_additional_information>1</show_additional_information>
            </additional_information>
            <short_description>
                <show_short_description>1</show_short_description>
                <add_pagebreak>0</add_pagebreak>
            </short_description>
            <description>
                <show_description>1</show_description>
                <add_pagebreak>0</add_pagebreak>
            </description>
            <title_price>
                <show_product_price>1</show_product_price>
                <title_fontsize>40px</title_fontsize>
                <title_fontcolor>333</title_fontcolor>
                <price_fontsize>25px</price_fontsize>
                <price_fontcolor>fff</price_fontcolor>
                <price_background>00ACEE</price_background>
                <product_title_fontfamily>opensans</product_title_fontfamily>
                <price_font_family>opensans</price_font_family>
            </title_price>
            <gallery>
                <show_images>1</show_images>
                <gallery_style>medium-main-1c-side-2c-bottom</gallery_style>
                <gallery_border_color>f7f7f7</gallery_border_color>
                <add_gallery_border>1</add_gallery_border>
                <add_child_images>1</add_child_images>
                <add_parent_images>0</add_parent_images>
                <gallery_image_count>10</gallery_image_count>
                <filter_duplicate_images>1</filter_duplicate_images>
            </gallery>
            <configurable_product>
                <use_child_product>1</use_child_product>
                <show_configurable_product_options>1</show_configurable_product_options>
            </configurable_product>
            <grouped_product>
                <show_grouped_product_options>1</show_grouped_product_options>
                <add_pagebreak>0</add_pagebreak>
            </grouped_product>
            <footer>
                <show_footer>1</show_footer>
                <footer_height>60px</footer_height>
                <show_url>1</show_url>
                <show_timestamp>1</show_timestamp>
                <show_pagenumber>1</show_pagenumber>
                <pagenumber_background>00ACEE</pagenumber_background>
                <pagenumber_fontcolor>fff</pagenumber_fontcolor>
                <footer_fontsize>0</footer_fontsize>
                <footer_fontcolor>333</footer_fontcolor>
                <pagenumber_font_family>opensans</pagenumber_font_family>
                <footer_fontfamily>opensans</footer_fontfamily>
            </footer>
            <frontend>
                <enable_extension>1</enable_extension>
                <link_placement_selector>#product-addtocart-button, #bundle-slide</link_placement_selector>
                <link_placement_method>insertAfter</link_placement_method>
                <show_as>icon_and_link</show_as>
                <icon_css>
width: 20px;
display: inline;
vertical-align: bottom;
margin-top: 15px;
margin-right:2px;
                </icon_css>
                <link_css>
color: #666!important;
text-decoration: none!important;
font-weight: 600;
text-transform: uppercase;
display: block;
                </link_css>
            </frontend>
            <bundle_product>
                <show_bundle_product_options>1</show_bundle_product_options>
            </bundle_product>
            <sectionsort>
                <sort_order>{"title-price":"Product Title and Price","image-gallery":"Image Gallery","short-description":"Short Description","description":"Description","product-attributes":"Additional Information","configurable-options":"Configurable Product Options","bundle-options":"Bundled Product Options","grouped-options":"Grouped Product Options","custom-options":"Custom Options","qr-code":"QR Code"}</sort_order>
            </sectionsort>
            <qr_code>
                <show_qr_code>1</show_qr_code>
                <enable_border>1</enable_border>
                <size>2</size>
                <margin_top>50</margin_top>
                <margin_bottom>50</margin_bottom>
            </qr_code>
        </plugincompany_productpdf>
    </default>
</config>
