<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin sortOrder="1" name="pluginCompanyProductPdfMinification" type="PluginCompany\ProductPdf\Plugin\View\Asset\MinificationPlugin"/>
    </type>
</config>