.pc-codeflask-wrapper .codeflask__flatten {
    padding: 10px!important;
    font-size: 13px!important;
    line-height: 20px!important;
    white-space: pre!important;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    overflow: auto!important;
    margin: 0 !important;
    outline: none!important;
    text-align: left!important;
}
.pc-codeflask-wrapper .codeflask__textarea {
    background: none!important;
    border: none!important;
    color: #fff!important;
    z-index: 1!important;
    resize: none!important;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace!important;
    -webkit-appearance: pre!important;
    caret-color: #111!important;
    z-index: 2!important;
    width: 100%!important;
    height: 100%!important;
}
.pc-css {
    display:none;
}
.pc-codeflask-wrapper > div {
    height:150px;
    position:relative;
    border:1px solid #adadad;
}
