.item-pc-pdf-general > strong:after {
    content: "\e900";
    display: inline-block;
    font-family: plugincompany;
    color: #90857c;
    font-size: 1em;
    vertical-align: top;
    font-weight: 500;
    float: right;
}
