<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="gtm" xsi:type="string">WeltPixel\GoogleTagManager\CustomerData\Gtm</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\FrontController">
        <plugin name="weltpixel-googletagmanager-cookieset" type="WeltPixel\GoogleTagManager\Plugin\CookieManagement" sortOrder="20"/>
    </type>
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="weltpixel-googletagmanager-js-head-snippet" type="WeltPixel\GoogleTagManager\Plugin\ResponseHttp" sortOrder="1000"/>
    </type>
</config>
