<a ng-click="toggleHide('xl')" ng-class="{'selected': model['xl_hide']}"><i title="Desktop" class="mgz-icon mgz-icon-desktop"></i></a>
<a ng-click="toggleHide('lg')" ng-class="{'selected': model['lg_hide']}"><i title="Tablet Landscape" class="mgz-icon mgz-icon-tablet-landscape"></i></a>
<a ng-click="toggleHide('md')" ng-class="{'selected': model['md_hide']}"><i title="Tablet Portrait" class="mgz-icon mgz-icon-tablet-portrait"></i></a>
<a ng-click="toggleHide('sm')" ng-class="{'selected': model['sm_hide']}"><i title="Mobile Landscape" class="mgz-icon mgz-icon-mobile-landscape"></i></a>
<a ng-click="toggleHide('xs')" ng-class="{'selected': model['xs_hide']}"><i title="Mobile Portrait" class="mgz-icon mgz-icon-mobile-portrait"></i></a>