<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ChargeLogic\Connect\Model\Payment"
                type="Ecommerce121\ChargeLogicConnect\Model\Payment"/>
</config>
